body {
  background-color: rgba(247, 243, 225, 0.925);
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: 5%;
  margin-right: 5%;
}

h1 {
  background-color: rgba(144, 115, 170, 0.932);
  color: rgba(238, 238, 226, 0.925);
  text-align: center;
  font-size: 40px;
  margin-top: 0%;
  margin-bottom: 0px;
}
h2 {
  background-color: rgba(253, 251, 243, 0.925);
  color: rgba(148, 125, 170, 0.829);
  text-align: center;
}
h3 {
  margin-top: 0%;
  margin-bottom: 0%;
  background-color: rgba(117, 88, 141, 0.932);
  color: rgba(229, 221, 235, 0.925);
  text-align: center;
}
p {
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
}

footer {
  text-align: center;
  background-color: rgba(144, 115, 170, 0.932);
  margin-bottom: 0%;
}

.navigation,
.ul-contacts,
.ul-skills,
.ul-english,
.ul-education,
.code-centr {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.ul-navigation {
  margin-top: 0%;
  list-style: decimal;
}
.data {
  margin-top: 10px;
  background-color: rgba(117, 88, 141, 0.932);
  color: rgba(229, 221, 235, 0.925);
}
.near-image {
  background-color: rgba(223, 213, 231, 0.932);
}
#code-style {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 5%;
  margin-right: 5%;
  background-color: rgb(56, 40, 59);
  color: whitesmoke;
  border-radius: 4px;
}
#rssimage {
  width: 130px;
}
#gitimage {
  width: 80px;
}
#photo {
  display: block;
  margin: 0% auto;

  width: 200px;
  margin-top: 0%;
}
